body,html{
    margin: 0 auto;
    padding: 0px;
    width: 1440px;
    font-family:'Lato';
}

.blue-text{
    color:#00ADEE;
}

.header{
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 665px;
    background-color:#F4F6F9;
}

.header_logo{
    width: 6.87%;
    height: 32px;
    margin-left: 163px;
    margin-top: 61px; 
}

.header_phones{
    position: absolute;
    margin-left: 485px;
    margin-top:0px;
}

.header_info_title{
    color: #333333;
    font-weight: bold;
    font-size: 36px;
    width:37.9%;
    height:96px;
    margin-left: 163px;
    margin-top: 133px;
    line-height: 48px;
}

.header_info_subtitle{
    color: #4F4F4F;
    width: 31.4%;
    height: 52px;
    margin-left: 163px;
    margin-top: 30px;
    font-size:18px;
    line-height: 26px;
    font-weight: normal;
}

.header_app_logos{
    display: flex;
    margin-top: 50px;
    margin-left: 163px;
}

.header-logo-2{
    margin-left: 35.9px;
}

.blue-text{
    color: #00ADEE;
}

.matches{
    display: flex;
    height:592px;
    background-color: #FFFFFF;
}

.matches_background{
    order: 1;
    width: 55.9%;
    height: 592px;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url(/Images/background_2.png);
    background-repeat: no-repeat;
}

.matches_date{
    position: relative;
    height: 218.9px;
    width: 44.7%;
    margin-left: 163px;
    margin-top: 109px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    
}

.matches_info{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31.9%;
    height: 120px;
    font-size: 16.7px;
    line-height: 22px;;
    margin-left: 15.74px;
    top: 27.26px;
}

.matches_date_team-1_logo{
    background-image: url("/Images/arsenal.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 83.87px;
    width: 19.7%;
    top: 43.13px;
    left: 202px;
}

.matches_date_team-2_logo{
    background-image: url("/Images/chelsea.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 46.13px;
    left: 261px;
    height:83.87px;
    width: 23.3%;
    margin-right: 14.39px;
}

.matches_notification{
    position: absolute;
    display:flex;
    align-items: center;
    top: 170px;
    width: 100%;
    height: 49.27px;
    background-color:#EEEEEE;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
}

.matches_notification-text{
    position:relative;
    margin-left:15.74px;
    color:#4F4F4F;
    font-size: 18.8px;
    line-height: 25px;
}

.matches_date-circle{
    position: absolute;
    background-image:url("/Images/matches_date-circle.png");
    background-repeat: no-repeat;
    width: 6.5%;
    height: 50.7%;
    position: relative;
    margin-left: 33.59px;
    z-index: 2;
}

.matches_date-rectangle{
    position: absolute;
    background-image: url("/Images/matches_date-rectangle.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 8.5%;   
    height: 12.58px;
    right: 26.24px;
    z-index: 1;
}

.matches_video{
    position: absolute;
    background-image: url("/Images/match_image_video.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 218.9px;
    margin-left: 106px;
    margin-top: 68px;
    border-radius: 4px;
    z-index: 1;
    filter: drop-shadow(-22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5));
}

.matches_what_it_does{
    position: relative;
    order: 2;
    height:469px;
    width: 44%;
    left: -10px;
}

.matches_title{
    width: 18.2%;
    height:22px;
    margin-top: 133px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.matches_subtitle{
    position: relative;
    width: 67%;
    height:37px;
    margin-top: 27px;
    font-size: 28px;
    line-height: 37px;
    font-weight: bold;
}

.matches_info-text{
    position: relative;
    width: 64%;
    height:185px;
    margin-top: 27px;
    font-size: 16px;
    line-height: 23px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.matches_learn-more{
    position: relative;
    width: 13%;
    height:22px;
    margin-top: 22px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.Get_Started{
    position: relative;
    height: 716px;
    width: 100%;
    background-image: url(/Images/Get_Started-Background.png);
}

.Get_Started-text{
    position: relative;
    width: 33.3%;
    height: 328;
    align-items: flex-start;
    top: 217px;
    margin-left: 162px;
}

.Get_Started-title{
    position: relative;
    width: 24.5%;
    font-weight: bold;
}

.Get_Started-subtitle{
    position: relative;
    width: 61.8%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 27px;
}

.Get_Started-info{
    position: relative;
    width: 100%;
    height: 139px;
    line-height: 23px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Get_Started-learn-more{
    position: relative;
    width: 20.3%;
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 54px;
    font-weight: bold;

}

.Get_Started-phone{
    position: absolute;
    background-image: url("/Images/Get_Started-Smarthphone.png");
    background-repeat: no-repeat;
    width: 27%;
    height: 600px;
    left: 839px;
    top: 81px;
}

.Get_Started-bell{
    position: absolute;
    background-image: url(/Images/Bell-notification.svg);
    background-repeat: no-repeat;
    width: 13.15%;
    height: 120.81px;
    top: 125px;
    left: 847px;
    z-index: 3;
}

.Get_Started-cart{
    position: absolute;
    background-image: url(/Images/Arrow-phone.svg);
    background-repeat: no-repeat;
    width: 25.15%;
    height: 120.81px;
    top: 445px;
    left: 1100px;
    z-index: 3;
}
.Get_Started-circle-on-line{
    position: absolute;
    background-image: url(/Images/Get_Started-circle-on-line.svg);
    background-repeat: no-repeat;
    width: 4.15%;
    height: 60px;
    top: 512px;
    left: 768px;
    z-index: 3;
}

.Features{
    position: relative;
    width: 100%;
    height: 735px;
    background-image: url(/Images/Features-Background.png);
    background-repeat: no-repeat;
    color:white;
    border: 1px solid white; 
}

.Features-title{ 
    position: relative;
    width: 35.9%;
    height: 37px;
    margin-top: 76px;
    margin-left: 466px;
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
}

.Features img{
    position: relative;
    margin-bottom: 10px;
}

.Features-rows{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 502px;
    width: 77.7%;
    margin-top: 54px;
    margin-left: 164px;
    font-size: 16px;
    line-height: 23px;
}

.Features-row-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Features-row-1 div{
    width: 28.27%;
    display: block;
}

.Features-row-1 img{
    margin-bottom: -1px;
}

.Features-row-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Features-row-2 div{
    width: 28.27%;
}

.Features-row-2 img{
    margin-top: 45px;
}

.Features-row-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Features-row-3 div{
    width: 28.27%;
}

.Features-row-3 img{
    margin-top: 31px;
    margin-bottom:-3px;
}

.mobile-svg{
    display:none;
}

.User{
    position:relative;
    width: 100%;
    height: 431px;
    color: #333333;
    overflow: hidden;
    border: 1px white;
}

.User-title{
    position: relative;
    width: 17.5%;
    height: 37px;
    margin-left: 594px;
    margin-top: 62px;
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
}

.User-Left_Arrow{
    position: absolute;
    width: 3.2%;
    height: 47px;
    left: 102px;
    top: 219px;
    z-index: 2;
}

.User-Right_Arrow{
    position: absolute;
    width: 3.2%;
    height: 47px;
    left: 1292px;
    top: 219px;
    z-index: 2;
}

.User-review-container{
    display: flex;
    z-index: 1;
    margin-top: 63px;
    margin-left: -160px;
    width: 1687px;
}

.User-box{
    position: relative;
    width: 21.45%;
    height: 161px;
    border: 1px solid #828282;
    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 35px;
    text-align: left;
}

.User-box-top{
    display: flex;
}

.User-Avatar{
    position: relative;
    width: 9.7%;
    height: 30px;
    margin-left: 17px;
    margin-top: 15px;
}

.User-Name{
    position: relative;
    width: 40.5%;
    height: 20px;
    margin-left: 11px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
}

.User-Twitter{
    position: relative;
    width: 4.8%;
    height: 12px;
    margin-left: 90px;
    margin-top: 23px;
}

.User-text{
    position: relative;
    width: 90%;
    height: 74px;
    margin-left: 17px;
    margin-top: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #4F4F4F;
}

.User-scroll_bar{
    position: relative;
    margin-left: 649px;
    margin-top: 47px;
}

.box-gradient-right{
    position: absolute;
    top: -0px;
    width: 100%;
    height: 161px;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
    border-radius: 4px;
}

.box-gradient-right{
    position: absolute;
    top: -0px;
    width: 100%;
    height: 161px;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
    border-radius: 4px;
}

.box-gradient-left{
    position: absolute;
    top: -0px;
    width: 100%;
    height: 161px;
    border-radius: 4px;
    background: linear-gradient(270deg, #FFFFFF 49.84%, rgba(255, 255, 255, 0) 126.7%);
    border-radius: 4px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.Sponsor{
    position: relative;
    width: 100%;
    height: 278px;
    background-color: #FAFAFA;
    color: #333333;
    border: 1px solid white;
}

.Sponsor-title{
    position: relative;
    width: 22.2%;
    height: 37px;
    margin-top: 51px;
    margin-left: 560px;
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
}

.Sponsor-logo-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 75%;
    height: 58px;
    margin-top: 58px;
    margin-left: 180px;
}

.Sponsor-logo-2{
    position: relative;
    top: -10px;
}

.Sponsor-logo-3{
    position: relative;
    top: -10px;
}

.Sponsor-logo-5{
    position: relative;
    top: -5px;
}

.Sponsor-logo-6{
    position: relative;
    top: -10px;
}

.Get_up{
    width: 100%;
    height: 485px;
    background-color: white;
    display: flex;
}

.Get_up-background{
    width: 100%;
    height: 483px;
    background-image: url('/Images/Get-up-background.png');
    background-repeat: no-repeat;
}

.Get_up-text{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 105px;
    margin-left: 73px;
}

.Get_up-text-title{
    width: 71%;
    height: 37px;
    font-size: 28px;
    font-weight: bold;
    line-height: 37px;
    color: #333333;
}

.Get_up-text-info{
    width: 79%;
    height: 125px;
    font-size: 16px;
    line-height: 25px;
    color: #4F4F4F;
    margin-top: 35px;
}

.Get_up-logos{
    display: flex;
    width: 100;
    height: 47px;
    margin-top: 38px;
}

.Get_up-logo-1{
    width: 21.7%;
    height: 47px;
    background-image: url("/Images/Apple-Store.png");
    background-repeat: no-repeat;
}

.Get_up-logo-2{
    width: 21.7%;
    height: 47px;
    background-image: url("/Images/Google-Play.png");
    background-repeat: no-repeat;
    margin-left: 35.9px;
}

.Footer{
    position: relative;
    width: 100%;
    height: 127px;
    display: flex;
    background: #00ADEE;
    color: white;
    top: -2px;
}

.Footer-logo{
    position: relative;
    width: 6.8%;
    height: 32px;
    background-image: url(/Images/Footer-logo.svg);
    background-repeat: no-repeat;
    margin-left: 163px;
    margin-top: 48px;
}

.Footer-info{
    position: relative;
    width: 26%;
    height: 22px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-left: 271px;
    font-size: 16px;
    line-height: 21px;
}

.Footer-social{
    width: 7.5%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 51px;
    margin-left: 261px;
}

.Footer-social-logo-1{
    width: 22.9%;
    height: 25px;
    background-image: url("/Images/footer-twitter.svg");
    background-repeat: no-repeat;
}

.Footer-social-logo-2{
    width: 22.9%;
    height: 25px;
    background-image: url("/Images/footer-facebook.svg");
    background-repeat: no-repeat;
}

.Footer-social-logo-3{
    width: 22.9%;
    height: 25px;
    background-image: url("/Images/footer-instagram.svg");
    background-repeat: no-repeat;
}

@media only screen and (max-width: 375px){
    body,html{
        margin:0px;
        padding:0px;
        width: 100%;
        text-align: center;
        background-color: #E5E5E5;
        font-style: 'Lato';
    }

    .header{
        width: 100%;
        height: 525px;
    }  

    .header_logo{ 
        width: 26.4%;
        margin-left: 131px;
    }

    .header_phones{
        display:none;
    }

    .header_info_title{
        width: 88%;
        height: 119px;
        font-size: 32px;
        margin: 86px auto 0px auto;
    }

    .header_info_subtitle{
        width: 88%;
        font-size: 16px;
        height: 70px;
        margin: 33px auto 0px auto;
    }
    
    .header_app_logos{
        margin: 50px 15px 0px 20px;
        width: 90%;
    }

    .header-logo-1{
        width:40%;
    }

    .header-logo-2{
        width:40%;
    }

    .matches{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 857px;
    }

    .matches_background{
        width: 100%;
        order: 2;
        background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url("/mobile_images/Matches-Background.png");
        background-repeat: no-repeat;
        margin-top: 22px;
        z-index: 1;
    }

    .matches_date{
        height: 149.58px;
        width: 68.6%;
        margin-left: 15px;
        margin-top: 52px; 
        background: #FFFFFF;
        box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
        border-radius: 2.74531px;  
        filter: drop-shadow(-0.0416px 0.8785px 0.9814px rgba(0, 0, 0, 0.5));
    }

    .matches_info{
        justify-content: space-evenly;
        width: 31.7%;
        height: 115px;
        top: 10.7px;
        bottom: 11.51px;
        font-size: 10.9px;
        line-height: 14px;
        text-align: left;
    }

    .matches_date_team-1_logo{
        background-image: url("/mobile_images/Matches_team-1.png");
        top: 31.64px;
        left: 153px;
    }

    .matches_date_team-2_logo{
        background-image: url("/mobile_images/Matches_team-2.png");
        top: 31.64px;
        left: 192px;
    }

    .matches_notification{
        top: 125.13px;
        width:100%;
        height: 33.8px;
    }

    .matches_notification-text{
        position: relative;
        margin-left:10.81px;
        font-size: 12.9px;
        line-height: 17px;
        width: 69.6%;
    }

    .matches_date-circle{
        background-image: url("/mobile_images/Ellipse.svg");
        margin-left: 23px;
    }

    .matches_date-rectangle{
        background-image: url("/mobile_images/Ellipse-bar.svg");
        right: 17px;
    }

    .matches_video{
        position: relative;
        background-image: url("/mobile_images/Matches_video.png");
        height: 149.58px;
        width: 100%;
        margin-left: 93px;
        margin-top: 30px;
        filter: drop-shadow(-10.0416px 10.8785px 10.9814px rgba(0, 0, 0, 0.5));
    }
    
    .matches_what_it_does{
        display:flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left:0px;
        width: 100%;
        order: 1;
        margin-top:54px;
    }

    .matches_title{
        width: 85.3%;
        margin-top: 0px;
    }

    .matches_subtitle{
        position: relative;
        width: 85.3%;
        height: 74px;
    }

    .matches_info-text{
        width: 85.3%;
        height: 200px;
    }

    .matches_learn-more{
        width: 85.3%;
    }

    .Get_Started{
        height: 1023px;
        width: 100%;
        display:flex;
        flex-direction: column;
        background-color: white;
        background-image: none;
    }

    .Get_Started-text{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:none;
        top:none;
        margin-left:0;
        top: 0px
    }

    .Get_Started-title{
        position: relative;
        width: 85.3%;
        height: 22px;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 61px;
    }

    .Get_Started-subtitle{
        position: relative;
        width: 85.3%;
        height: 37px;
        font-size: 28px;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        margin-top: 27px;
    }

    .Get_Started-info{
        position: relative;
        width: 83.3%;
        height: 208px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 27px;
        color: #4F4F4F;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Get_Started-learn-more{
        position: relative;
        width: 85.3%;
        height: 22px;
        font-size: 16px;
        line-height: 21px;
        margin-top: 25px;
    }

    .Get_Started-background{
        position: relative;
        width: 100%;
        height: 564px;
    }

    .Get_Started-circles{
        position: absolute;
        width: 100%;
        height: 565px;
        background-image: url("/mobile_images/Get_Started-Circles.png");
        background-repeat: no-repeat;
        z-index: 1;
    }

    .Get_Started-phone{
        background-image: url("/mobile_images/Get_Started-Phone.png");
        background-repeat: no-repeat;
        width: 80%;
        left: 35px;
        top: 100px;
        height: 480.51px;
        z-index: 2;   
    }
    
    .Get_Started-bell{
        position: absolute;
        background-image: url(/mobile_images/Get_Started-Bell-svg.svg);
        background-repeat: no-repeat;
        width: 25.15%;
        height: 100.81px;
        top: 110px;
        left: 42.70px;
        z-index: 3;
    }

    .Get_Started-cart{
        position: absolute;
        background-image: url(/mobile_images/Get_Started-Cart.svg);
        background-repeat: no-repeat;
        width: 25.15%;
        height: 100.81px;
        top: 355px;
        left: 237.33px;
        z-index: 3;
    }

    .Get_Started-circle-on-line{
        display: none;
    }

    .Features{
        position: relative;
        width: 99%;
        height: 1775px;
        background-color: #FAFAFA;
        background-image: none;
        color:#4F4F4F;
    }
    
    .span-point{
        display:none;
    }

    .Features-title{ 
        width: 84.8%;
        height: 74px;
        margin-left: 21px;
        margin-top: 42px;
        color: #333333;
    }
    
    .desktop-svg{
        display: none;
    }

    .mobile-svg{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        margin-left: 135px;
    }

    .Features-rows{
        position: relative;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 1538px;
        width: 100%;
        margin-top: 0px;
        margin-left:0px;
        font-size: 16px;
        line-height: 23px;
    }

    .Features-row-1{
        display: flex;
        flex-direction: column;
        width: 82.9%;
        margin-left: 25px;
    }
    
    .Features-row-1 div{
        width: 100%;
    }

    .Features-row-1 img{
        margin-bottom: 11px;
        margin-top: 50px;
    }    

    .Features-row-2{
        display: flex;
        flex-direction: column;
        width: 82.9%;
        margin-left: 25px;
    }
    
    .Features-row-2 div{
        width: 100%;
    }

    .Features-row-2 img{
        margin-top: 50px;
    }
    
    .Features-row-3{
        display: flex;
        flex-direction: column;
        justify-content: none;
        width: 82.9%;
        margin-left: 25px;
    }
    
    .Features-row-3 div{
        width: 100%;
    }
    
    .Features-row-3 img{
        margin-top: 50px;
        margin-bottom: 6px;
    }

    .User{
        width: 100%;
        height: 402px;
        background-color: white;
    }
    
    .display-none{
        display:none;
    }
    .User-title{
        width: 67.2%;
        margin-left: 54px;
        margin-top: 50px;
    }
    
    .User-Left_Arrow{
        display: none;
    }
    
    .User-Right_Arrow{
        width: 12.5%;
        left: 309px;
        top: 183px;
    }
    
    .User-review-container{
        z-index: 1;
        margin-top: 39px;
        margin-left: 35px;
        width: 100%;
    }
    
    .User-box{
        width: 82.4%;
        text-align: left;
    }

    .User-scroll_bar{
        width: 38.13%;
        margin-left: 121px;
        margin-top: 33px;
    }

    .box-gradient-right{
        display: none;
    }
    
    .box-gradient-left{
        display: none;
    }

    .Sponsor{
        width: 99%;
        height: 409px;
    }
    
    .Sponsor-title{
        width: 85.3%;
        margin-top: 57px;
        margin-left: 20px;
    }
    
    .Sponsor-logo-container{
        display: inline;
        width: 100%;
        height: 272px;
        margin-top: 0px;
        margin-left: 0px;
        background-color: red;
    }
    
    .Sponsor-logo-1{
        width: 39.2%;
        height: 49px;
        margin-top: 43px;
        margin-left: 20px;
    }

    .Sponsor-logo-2{
        position: relative;
        width: 27.2%;
        height: 32px;
        margin-top: -30px;
        margin-left: 232px;
    }
    
    .Sponsor-logo-3{
        position: relative;
        width: 29.3%;
        height: 32px;
        margin-top: 33px;
        margin-left: 128px;
    }

    .Sponsor-logo-4{
        position: relative;
        width: 18.4%;
        height: 58px;
        margin-top: -55px;
        margin-left: 20px;
    }
    
    .Sponsor-logo-5{
        position: relative;
        width: 12.8%;
        height: 48px;
        margin-top: -50px;
        margin-left: 277px;
    }
    .Sponsor-logo-6{
        width: 56%;
        height: 34px;
        margin-top: 54px;
        margin-left: 75px;
    }

    .Get_up{
        height: 696px;
        flex-direction: column;
    }
    
    .Get_up-background{
        order: 2;
        width: 100%;
        height: 261px;
        margin-top: 46px;
        background-image: url('/mobile_images/Get_up-background.png');
        background-repeat: no-repeat;
    }
    
    .Get_up-text{
        order: 1;
        width: 89.3%; 
        height: 370px;
        margin-top: 19px;
        margin-left: 20px;
    }
    
    .Get_up-text-title{
        width: 100%;
        height: 74px;
    }
    
    .Get_up-text-info{
        width: 96.5%;
        height: 200px;
        margin-top: 15px;
    }
    
    .Get_up-logos{
        width: 100%;
        height: 44px;
        margin-top: 37px;
    }
    
    .Get_up-logo-1{
        width: 45.3%;
        height: 44px;
        background-image: url("/mobile_images/Get_up-Apple-Store.svg");
    }
    
    .Get_up-logo-2{
        width: 45.3%;
        height: 44px;
        background-image: url("/mobile_images/Get_up-Google-play.png");
        margin-left: 28.6px;
    }
    
    .Footer{
        width: 100%;
        height: 210px;
        display: flex;
        flex-direction: column;
    }
    
    .Footer-logo{
        width: 26.4%;
        margin-left: 21px;
        margin-top: 41px;
    }
    
    .Footer-info{
        width: 85.6%;
        order: 2;
        font-size: 16px;
        line-height: 21px;
        margin-top: 34px;
        margin-left: 21px;
    }
    
    .Footer-social{
        width: 29%;
        order: 1;
        margin-top: 11px;
        margin-left: 21px;
    }
}