body,html{
    margin: 0 auto;
    padding: 0px;
    width: 1440px;
    font-family:'Lato';
}

.blue-text{
    color:#00ADEE;
}

.header{
    display:flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 665px;
    background-color:#F4F6F9;
}

.header_logo{
    width: 6.87%;
    height: 32px;
    margin-left: 163px;
    margin-top: 61px; 
}

.header_phones{
    position: absolute;
    margin-left: 485px;
    margin-top:0px;
}

.header_info_title{
    color: #333333;
    font-weight: bold;
    font-size: 36px;
    width:37.9%;
    height:96px;
    margin-left: 163px;
    margin-top: 133px;
    line-height: 48px;
}

.header_info_subtitle{
    color: #4F4F4F;
    width: 31.4%;
    height: 52px;
    margin-left: 163px;
    margin-top: 30px;
    font-size:18px;
    line-height: 26px;
    font-weight: normal;
}

.header_app_logos{
    display: flex;
    margin-top: 50px;
    margin-left: 163px;
}

.header-logo-2{
    margin-left: 35.9px;
}

.blue-text{
    color: #00ADEE;
}

.matches{
    display: flex;
    height:592px;
    background-color: #FFFFFF;
}

.matches_background{
    order: 1;
    width: 55.9%;
    height: 592px;
    background-image: linear-gradient(to right, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url(/Images/background_2.png);
    background-repeat: no-repeat;
}

.matches_date{
    height: 218.9px;
    width: 44.7%;
    margin-left: 163px;
    margin-top: 109px;
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: inset 4.89814px -2.44907px 8.57175px #C6CFDA, inset -6.73495px -19.5926px 24.4907px #FFFFFF;
    
}

.matches_info{
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31.9%;
    height: 120px;
    font-size: 16.7px;
    line-height: 22px;;
    margin-left: 15.74px;
    top: 27.26px;
}

.matches_date_team-1_logo{
    background-image: url("/Images/arsenal.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 83.87px;
    width: 19.7%;
    top: 46.13px;
    left: 202px;
}

.matches_date_team-2_logo{
    background-image: url("/Images/chelsea.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 46.13px;
    left: 261px;
    height:83.87px;
    width: 23.3%;
    margin-right: 14.39px;
}

.matches_notification{
    position: absolute;
    display:flex;
    align-items: center;
    top: 170px;
    width: 100%;
    height: 49.27px;
    background-color:#EEEEEE;
    border-radius: 0px 0px 4px 4px;
    z-index: 2;
}

.matches_notification-text{
    position:relative;
    margin-left:15.74px;
    color:#4F4F4F;
    font-size: 18.8px;
    line-height: 25px;
}

.matches_date-circle{
    background-image:url("/Images/matches_date-circle.png");
    background-repeat: no-repeat;
    width: 6.5%;
    height: 50.7%;
    position: relative;
    margin-left: 33.59px;
    z-index: 2;
}

.matches_date-rectangle{
    background-image: url("/Images/matches_date-rectangle.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 8.5%;   
    height: 12.58px;
    right: 26.24px;
    z-index: 1;
}

.matches_video{
    position: absolute;
    background-image: url("/Images/match_image_video.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 218.9px;
    margin-left: 106px;
    margin-top: 68px;
    border-radius: 4px;
    z-index: 1;
}

.matches_what_it_does{
    position: relative;
    order: 2;
    height:469px;
    width: 44%;
    left: -10px;
}

.matches_title{
    width: 18.2%;
    height:22px;
    margin-top: 133px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.matches_subtitle{
    position: relative;
    width: 67%;
    height:37px;
    margin-top: 27px;
    font-size: 28px;
    line-height: 37px;
    font-weight: bold;
}

.matches_info-text{
    position: relative;
    width: 64%;
    height:185px;
    margin-top: 27px;
    font-size: 16px;
    line-height: 23px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.matches_learn-more{
    position: relative;
    width: 13%;
    height:22px;
    margin-top: 22px;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

.Get_Started{
    position: relative;
    height: 716px;
    width: 100%;
    background-image: url(/Images/Get_Started-Background.png);
}

.Get_Started-text{
    position: relative;
    width: 33.3%;
    height: 328;
    align-items: flex-start;
    top: 217px;
    margin-left: 162px;
}

.Get_Started-title{
    position: relative;
    width: 24.5%;
    font-weight: bold;
}

.Get_Started-subtitle{
    position: relative;
    width: 61.8%;
    font-size: 28px;
    font-weight: bold;
    margin-top: 27px;
}

.Get_Started-info{
    position: relative;
    width: 100%;
    height: 139px;
    line-height: 23px;
    margin-top: 27px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Get_Started-learn-more{
    position: relative;
    width: 20.3%;
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    margin-top: 54px;
    font-weight: bold;

}

.Get_Started-phone{
    position: absolute;
    background-image: url("/Images/Get_Started-Smarthphone.png");
    background-repeat: no-repeat;
    width: 27%;
    height: 600px;
    left: 839px;
    top: 81px;
}

.Get_Started-bell{
    position: absolute;
    background-image: url(/Images/Bell-notification.svg);
    background-repeat: no-repeat;
    width: 13.15%;
    height: 120.81px;
    top: 125px;
    left: 847px;
    z-index: 3;
}

.Get_Started-cart{
    position: absolute;
    background-image: url(/Images/Arrow-phone.svg);
    background-repeat: no-repeat;
    width: 25.15%;
    height: 120.81px;
    top: 445px;
    left: 1100px;
    z-index: 3;
}
.Get_Started-circle-on-line{
    position: absolute;
    background-image: url(/Images/Get_Started-circle-on-line.svg);
    background-repeat: no-repeat;
    width: 4.15%;
    height: 60px;
    top: 512px;
    left: 768px;
    z-index: 3;
}

@media only screen and (max-width: 375px){
    body,html{
        margin:0px;
        padding:0px;
        width: 100%;
        text-align: center;
        background-color: #E5E5E5;
    }

    .header{
        width: 100%;
        height: 525px;
    }  

    .header_logo{ 
        width: 26.4%;
        margin-left: 131px;
    }

    .header_phones{
        display:none;
    }

    .header_info_title{
        width: 88%;
        height: 119px;
        font-size: 32px;
        margin: 86px auto 0px auto;
    }

    .header_info_subtitle{
        width: 88%;
        font-size: 16px;
        height: 70px;
        margin: 33px auto 0px auto;
    }
    
    .header_app_logos{
        margin: 50px 15px 0px 20px;
        width: 90%;
    }

    .header-logo-1{
        width:40%;
    }

    .header-logo-2{
        width:40%;
    }

    .matches{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 857px;
    }

    .matches_background{
        width: 100%;
        order: 2;
        background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgba(255, 255, 255)), url("/mobile_images/Matches-Background.png");
        background-repeat: no-repeat;
        margin-top: 22px;
        z-index: 1;
    }

    .matches_date{
        height: 149.58px;
        width: 68.6%;
        margin-left: 15px;
        margin-top: 52px; 
        background: #FFFFFF;
        box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
        border-radius: 2.74531px;  
        filter: drop-shadow(-0.0416px 0.8785px 0.9814px rgba(0, 0, 0, 0.5));
    }

    .matches_info{
        justify-content: space-evenly;
        width: 31.7%;
        height: 115px;
        top: 10.7px;
        bottom: 11.51px;
        font-size: 10.9px;
        line-height: 14px;
        text-align: left;
    }

    .matches_date_team-1_logo{
        background-image: url("/mobile_images/Matches_team-1.png");
        top: 31.64px;
        left: 153px;
    }

    .matches_date_team-2_logo{
        background-image: url("/mobile_images/Matches_team-2.png");
        top: 31.64px;
        left: 192px;
    }

    .matches_notification{
        top: 125.13px;
        width:100%;
        height: 33.8px;
    }

    .matches_notification-text{
        position: relative;
        margin-left:10.81px;
        font-size: 12.9px;
        line-height: 17px;
        width: 69.6%;
    }

    .matches_date-circle{
        background-image: url("/mobile_images/Ellipse.svg");
        margin-left: 23px;
    }

    .matches_date-rectangle{
        background-image: url("/mobile_images/Ellipse-bar.svg");
        right: 17px;
    }

    .matches_video{
        position: relative;
        background-image: url("/mobile_images/Matches_video.png");
        height: 149.58px;
        width: 100%;
        margin-left: 93px;
        margin-top: 30px;
        box-shadow: -8px 10px 18px 0px rgba(88, 88, 88, 0.87);
    }
    
    .matches_what_it_does{
        display:flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        left:0px;
        width: 100%;
        order: 1;
        margin-top:54px;
    }

    .matches_title{
        width: 85.3%;
        margin-top: 0px;
    }

    .matches_subtitle{
        position: relative;
        width: 85.3%;
        height: 74px;
    }

    .matches_info-text{
        width: 85.3%;
        height: 200px;
    }

    .matches_learn-more{
        width: 85.3%;
    }

    .Get_Started{
        height: 1023px;
        width: 100%;
        display:flex;
        flex-direction: column;
        background-color: white;
        background-image: none;
    }

    .Get_Started-text{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        height:none;
        top:none;
        margin-left:0;
        top: 0px
    }

    .Get_Started-title{
        position: relative;
        width: 85.3%;
        height: 22px;
        font-size: 16px;
        font-weight: bold;
        line-height: 21px;
        margin-top: 61px;
    }

    .Get_Started-subtitle{
        position: relative;
        width: 85.3%;
        height: 37px;
        font-size: 28px;
        font-weight: bold;
        line-height: 37px;
        color: #333333;
        margin-top: 27px;
    }

    .Get_Started-info{
        position: relative;
        width: 83.3%;
        height: 208px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 27px;
        color: #4F4F4F;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .Get_Started-learn-more{
        position: relative;
        width: 85.3%;
        height: 22px;
        font-size: 16px;
        line-height: 21px;
        margin-top: 25px;
    }

    .Get_Started-background{
        position: relative;
        width: 100%;
        height: 564px;
    }

    .Get_Started-circles{
        position: absolute;
        width: 100%;
        height: 565px;
        background-image: url("/mobile_images/Get_Started-Circles.png");
        background-repeat: no-repeat;
        z-index: 1;
    }

    .Get_Started-phone{
        background-image: url("/mobile_images/Get_Started-Phone.png");
        background-repeat: no-repeat;
        width: 80%;
        left: 35px;
        top: 100px;
        height: 480.51px;
        z-index: 2;   
    }
    
    .Get_Started-bell{
        position: absolute;
        background-image: url(/mobile_images/Get_Started-Bell-svg.svg);
        background-repeat: no-repeat;
        width: 25.15%;
        height: 100.81px;
        top: 115px;
        left: 33.70px;
        z-index: 3;
    }

    .Get_Started-cart{
        position: absolute;
        background-image: url(/mobile_images/Get_Started-Cart.svg);
        background-repeat: no-repeat;
        width: 25.15%;
        height: 100.81px;
        top: 364px;
        left: 233.33px;
        z-index: 3;
    }
}